[Desktop Entry]
Name=VM Remote
Comment=Control Voicemeeter via VBAN
Exec=python3 /home/deck/voicemeeter-deck/voicemeeter_deck.py
Icon=/home/deck/voicemeeter-deck/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
StartupWMClass=voicemeeter-deck
