[Desktop Entry]
Name=VM Remote
Comment=Control Voicemeeter via VBAN
Exec=voicemeeter-deck
Icon=io.github.bobworksx.VMRemote
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
StartupWMClass=voicemeeter-deck
